@import url('https://fonts.googleapis.com/css?family=Kanit');
html{
   height: 100%;
   max-height: 100%;
   font-family: kanit;
}
i{
	margin-right:10px;
}
body{
	height:100%;
	width: 100%;
	margin:0 0 0 0;
}
#nav{
	height:100%;
	width: 16%;
	float:left;
	display:block;
}

#logobox{
	width: 100%;
	margin-bottom: 5%;
    position: relative;
	left: 10%;
	top: 1%;
}
#logo{
	width:80%;
}
#filterbox{
	width:100%;
}
.hidden{
	display:none;
}
.filter-input-container{
	padding-left: 20px;
	width:inherit;
	margin-bottom: 5px;
}
#content{
	height: 100%;
	width: 84%;
	float: left;
}
#buttons{
	width: 100%;
	height:auto;
}

.navbutton{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 30px;
	width: 100%;
    height:50px;
	padding-top: 10px;
	cursor:default;
}
#toolbox{
	height: 10%;
}
#bigbox{
	height: 90%;
	display: flex;
	align-items: center;
}
#results{
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	
}
.post{
	display: inline-block;
	vertical-align: middle;
	margin-top: inherit;
	margin-left: 10px;
	margin-right: 10px;
	height: 500px;
	width: 350px;
}
.post-big{
	height:700px;
	width:500px;
}
.mediabox{
	width:100%;
	height: 300px;
	padding: 0 0 0 0;
	z-index: 98;
	display: flex;
	align-items: center;
}
.mediabox-big{
	height:400px;
}

.infobox{
	width:100%;
	height:200px;
	padding: 0 0 0 0;
}
.infobox img,.infobox-big img{
	height:30%;
}
.infobox-big{
	height:300px;
}