<div id="createbox" class="hidden">
   <div id="create-dialog">
   <header id="createheader">Create Your Vote!!!<button id="btclose"><i class="fas fa-times"></i></button></header>
   	<div id="createbody">
   	   	<div class="create-input-box" id="input-title"><label>Title</label><input id="titleinput"></div>
   	   	<div class="create-input-box" id="input-desc"><label>Description</label><input id="descinput"></div>
   		<div class="create-input-box" id="input-pub"><label>Publisher</label><input id="pubinput"></div>
   		<div class="create-input-box" id="chart-options">
   		<div id="input-type"><label>TYPE</label><select id="typeinput"><option value="Pie">Pie</option>
                                          <option value="Bar">Bar</option>
                                          <option value="Radar">Radar</option>
                                          <option value="Radar">Polar Area</option></select></div>
   		<div id="input-options"><label>Options</label><select id="optionsinput"><option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                              <option>5</option>
                                                              <option>6</option></select>
        </div>
       </div>
        <div class="create-input-box" id="input-photourl"><label>Photo URL</label><input type="url" id="photoinput"></div>
   		<div id ="datainput">
   			<div class="inputdata" valid="true" style="background:rgba(255, 99, 132, 0.2)"><label>Opt1</label><input class="inputname"><input class="inputvalue" type="number"></div>
   			<div class="inputdata" valid="true" style="background:rgba(54, 162, 235, 0.2)"><label>Opt2</label><input class="inputname"><input class="inputvalue" type="number"></div>
   			<div class="inputdata" valid="true" style="background:rgba(255, 206, 86, 0.2)"><label>Opt3</label><input class="inputname"><input class="inputvalue"type="number"></div>
   			<div class="inputdata" valid="true" style="background:rgba(75, 192, 192, 0.2)"><label>Opt4</label><input class="inputname"><input class="inputvalue"type="number"></div>
   			<div class="inputdata" valid="true" style="background:rgba(153, 102, 255, 0.2)"><label>Opt5</label><input class="inputname"><input class="inputvalue"type="number"></div>
   			<div class="inputdata" valid="true" style="background:rgba(255, 159, 64, 0.2)"><label>Opt6</label><input class="inputname"><input class="inputvalue"type="number"></div>
   		</div>
   	</div>
   	<div id="createbuttonbar">
   		<button id="btcancle">Cancle</button>
   		<button id="btcreate">Create</button>
   	</div>
   	</div>
   </div>