<canvas id="layer" class="hidden"></canvas>
<div id="nav">
		<div id="logobox"><img id="logo" src="./logo.png"></div>
 
        <div class="navbutton" id="btadd"><i class="fas fa-plus"></i>ADD</div>
        <div class="navbutton" id="btsearch"><i class="fas fa-search"></i>SEARCH</div>
        <div id="filterbox" class="hidden">
                   <div></div>
                   <div class="filter-input-container"><lable class="inputtype">Text</lable><input type="text" id="searchText"></div>
                   <div class="filter-input-container">
                                <lable class="inputtype">Type</lable>
                                     <select id="selectBox">
                                          <option value="Any">Any</option>
                                          <option value="pie">Pie</option>
                                          <option value="bar">Bar</option>
                                          <option value="radar">Radar</option>
                                          <option value="polarArea">Polar Area</option>
                                     </select>
                  </div>
        </div>
        <div class="navbutton" id= "about-button"><i class="far fa-question-circle"></i>ABOUT</div>
        {{> about}}
</div>