  {{> navBar}}
  {{> createBox}}
	<div id="content">
		<div id="bigbox">
		<div id="results">
			{{#each vote}}
        {{> voteCard}}
      {{/each}}
		</div>
		</div>
	</div>
	<script src="/js/main.js"></script>
<script src="/js/dhart.js"></script>