html{
	background-color: #a5eaff;
}
#nav{
	background-color: #9ec4f6;
}
#content{
	background-color: #a5eaff;
}
.nav-button{
	color:#E2F9FF;
	font-weight: bolder;
}
.navbutton{
	color:#E2F9FF;
	font-weight: bolder;
}
.navbutton:hover{
	animation:show 650ms;
	background-color:#5b68f8;
}
@keyframes navAni
{
	0%   {background:#D76C29;}
	10%  {background:#D66928;}
	20%  {background:#D46526;}
	30%  {background:#D36225;}
	40%  {background:#D15E23;}
	50%  {background:#D05B22;}
	60%  {background:#CE5820;}
	70%  {background:#CD541F;}
	80%  {background:#CB511D;}
	90%  {background:#CA4D1C;}
	100% {background:#c84a1a;}
}
@keyframes show
{
	0%   {opacity: 0;}
	5%  {opacity: 0.05;}
	10%  {opacity: 0.1;}
	15%  {opacity: 0.15;}
	20%  {opacity: 0.2;}
	25%  {opacity: 0.25;}
	30%  {opacity: 0.3;}
	35%  {opacity: 0.35;}
	40%  {opacity: 0.4;}
	45%  {opacity: 0.45;}
	50%  {opacity: 0.5;}
	55%  {opacity: 0.55;}
	60%  {opacity: 0.6;}
	65%  {opacity: 0.65;}
	70%  {opacity: 0.7;}
	75%  {opacity: 0.75;}
	80%  {opacity: 0.8;}
	85%  {opacity: 0.85;}
	90%  {opacity: 0.9;}
	95%  {opacity: 0.95;}
	100% {opacity: 1;}
}

#bigbox{
	background-color: #a5deff;
}
.post{
	background: #FFFFFF;
	
}
.mediabox{
	background: #F8F8F8;
	border-color:#d2c0f9;
}
.infobox{
	background:  #d2c0f9;
	color: aliceblue;

}
.resultbox{
	border-color:#d2c0f9;
}
.buttonbar{
	border-color:#d2c0f9;
}
.post button{
	color:aliceblue;
}
.submitbutton{
	background: #bedcff;

}
.showbutton{
	background: #9ec4f6;
}
.hidebutton{
	background: #7db1f7;
}
#createbox{
	animation:show 450ms;
	background: #F8F8F8;
}
#layer{
	animation:show 350ms;
	background-color:rgba(190, 255, 248, 0.75);
}
#titleinput,#descinput,#pubinput,#typeinput,#optionsinput,#photoinput,#photobutton,#datainput,.inputname{
	border-color: deepskyblue;
}
#photobutton,#removeoptionbutton,#addoptionbutton,#btcancle{
	background-color: deepskyblue;
	color: #FFFFFF;
}
#removeoptionbutton:hover,#addoptionbutton:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
}
#btcreate{
	background-color: deepskyblue;
	color: rgb(203, 88, 207);
}
#btcreate:after{
    background: skyblue;
}